<!DOCTYPE html>
<html>
<head>
  <title>Seattle Restaurants Review</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <%- body %>
  </div>
  <hr>

  <div class="container">
    <a href="/" class="btn btn-primary">Home Page</a>
    <a href="/topics" class="btn btn-primary">View Topics</a>
    <a href="/topics/new" class="btn btn-warning">New Topic</a>
  </div>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/routing.js"></script>
  <script src="/js/code.js"></script>
</body>
</html>