<div>
  <h2 class="text-center"><%= topic.title %>: How would you like to edit this topic?</h2>

  <form class="put-form" action="/topics/<%= topic.id %>">
    <div class="form-group">
      <label for="title">Title:</label>
      <input id="title" type="text" name="title" placeholder="title of the topic" class="form-control">
    </div>
    <input type="submit" value="Update Title" class="btn btn-success">
  </form>
</div>
