<h2 class="text-center">New Post</h2>


<form method="post" action="/topics">
  <div class="form-group">
    <label for="title">Title:</label>
    <input id="title" type="text" name="title" placeholder="title of the topic" class="form-control" required>
  </div>
  <input type="submit" value="Create Title" class="btn btn-success">
</form>

